version: 2

defaults: &defaults
  working_directory: /tmp/activities
  docker:
    - image: ibmcom/kitura-ubuntu

jobs:
  build:
    <<: *defaults

    steps:
      - checkout

      - run: 
          name: Build Application
          command: make build
      
      - persist_to_workspace:
          root: /tmp/
          paths:
            - activities

  unit_test:
    <<: *defaults

    steps:
      - attach_workspace:
          at: /tmp

      - run: 
          name: Unit Tests
          command: make unit_test

  functional_test:
    <<: *defaults

    steps:
      - attach_workspace:
          at: /tmp

      - run: 
          name: Functional Tests
          command: make functional_test

workflows:
  version: 2
  build_test_and_deploy:
    jobs:
      - build
      - unit_test:
          requires:
            - build
      - functional_test:
          requires:
            - build

